Options +FollowSymLinks
RewriteEngine On

# Ensure directory index
DirectoryIndex index.html

# Rewrite to remove .html extension from URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ $1/ [L]
