@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --navy: #05182E;
    --ocean: #104D94;
    --sky: #8FBBEA;
    --midnight: #09294D;
    --royal: #024AAC;
    --bot: #033982;
}

body {
    font-family: 'Inter', sans-serif;
  }

.bg-banner{
    background-image: url(assets/bg-banner.webp);
    background-size: cover;
}

.bg-olhar{
    background-image: url(assets/bg-novo-olhar-mb.webp);
    background-size: cover;
    background-repeat: repeat;
}

.bg-quem{
    background: url(assets/bg-banner-quem.webp);
    background-size: cover;
}

.line-container{
    background: url(assets/Upgrade.webp);
    background-repeat: repeat;
}

.card{
    background-image: linear-gradient(var(--navy), var(--bot));
}

.inner-card{
    border: 2px #8FBBEA solid;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 20rem;
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12%;
    transform: rotate(45deg);
    width: .75rem;
    height: .75rem;
    background-color: white;
    border: 3px var(--ocean) solid;
}

@media (min-width: 1024px) {
    .bg-banner{
        background-image: url(assets/bg-banner.webp);
        background-size: cover;
    }
    
    .bg-olhar{
        background-image: url(assets/bg-novo-olhar.webp);
        background-repeat: repeat;
        background-size: auto;
    }
    
    .bg-quem{
        background: url(assets/bg-banner-quem.webp);
        background-size: cover;
    }
    
    .line-container{
        background: url(assets/Upgrade.webp);
        background-repeat: repeat;
    }

    li{
        position: relative;
        padding-left: 40px;
        margin-bottom: 10px;
        width: 45rem;
    }

    li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 20%;
        transform: rotate(45deg);
        width: 1rem;
        height: 1rem;
        background-color: white;
        border: 3px var(--ocean) solid;
    }
}