@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --navy: #05182E;
    --ocean: #104D94;
    --sky: #8FBBEA;
    --midnight: #09294D;
    --royal: #024AAC;
    --bot: #033982;
}

*{
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
    text-decoration: none;
    text-align: justify;
}

